<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	<% include ./map_header.ejs %>   

	<title>Document</title>
</head>

<body>
	<div class="container">
		

