<!DOCTYPE html>
<html lang="en">

<head>
  	<!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <link rel="stylesheet" href="/style/style.css">

  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

  <!-- Latest compiled and minified JavaScript -->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

	<% include ./map_header.ejs %>   

  <title>Document</title>
</head>

<body>


   <% include ./login_navbar_header.ejs %> 

  

<div class="container">
		

