<nav class="navbar" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Swag List</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/search">Event Search</a></li>
        <li class="active"><a href="/mylist">My List</a></li>
      </ul>
      
        <% if (isAuthenticated) { %>
      <form class="navbar-form navbar-right" action="/logout">
        <button type="submit" class="btn btn-danger">Logout</button>
      </form>
      <% } else { %>
      <form class="navbar-form navbar-right" action="/login">
        <button type="submit" class="btn btn-success">Login</button>
      </form>
      <% } %>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
