h2{
	font-family: 'Lobster', cursive;
}

.map-container {
	position: relative;
}

.venue-text {
	font-family: 'Lobster', cursive;
}

.navbar-brand {
	font-family: 'Lobster', cursive;
	font-size: 2.5em;
	color: black;
}


.splash-text{
	font-family: 'Lobster', cursive;
}

.container .jumbotron{
	padding: 1em 1em;
}

.margin-bottom {
	margin-bottom: 1em;
}

.margin-top {
	margin-top: 1em;
}

.error{
	color: red;
}

.navbar-style {

	padding-bottom: .25em;
	border-bottom-style: dotted;
}

.jumbotron{
	background-color: rgb(212, 63, 58);
}

.image-footer {
	background: url(http://www.atreent.com/layouts/kso_takethat_v2/img/background/image01.jpg) top center no-repeat;
	background-size: cover;
	height: 500px;
	box-shadow: inset 0 0 10px black;
}

#splash-logo {
	width: 30%;
	height: 30%;

}

#splash-btn {
	margin: 2em;
}

footer {
	height: 5em;
}

