.navbar-brand {
	font-family: 'Lobster', cursive;
	font-size: 2em;
	color: black;
}

.splash-text{
	font-family: 'Lobster', cursive;
}

.container .jumbotron{
	padding: 1em 1em;
}

.margin-bottom {
	margin-bottom: 1em;
}

#splash-logo {
	width: 30%;
	height: 30%;

}

#splash-btn {
	margin: 2em;
}

footer {
	height: 5em;
}

