h2{
	font-family: 'Lobster', cursive;
}

.map-container {
	position: relative;
}

.venue-text {
	font-family: 'Lobster', cursive;
}

.navbar-brand {
	font-family: 'Lobster', cursive;
	font-size: 2.5em;
	color: black;
}


.splash-text{
	font-family: 'Lobster', cursive;
}

.container .jumbotron{
	padding: 1em 1em;
}

.margin-bottom {
	margin-bottom: 1em;
}

.margin-top {
	margin-top: 1em;
}

.error{
	color: red;
}

.brand-color {

	color: black;
}

#splash-logo {
	width: 30%;
	height: 30%;

}

#splash-btn {
	margin: 2em;
}

footer {
	height: 5em;
}

