  <% include partials/404_header.ejs %> 

  <div class="row text-center">
    <div class=" col-lg-4">
    </div>
    <div class="col-lg-4">
    		<h2>On no! You are in the wrong area</h2>
    		<a class="link" href="/signup">Please click here to sign up</a>
    		<p>or</p>
    		<a class="link" href="/login">Login</a>
    </div>
    <div class="col-lg-4"></div>
  </div>

  <% include partials/footer.ejs %>
<% include partials/image_footer.ejs %>  