<% include partials/header.ejs %> 

	<div>
		<form action="/search">
			<label for="area">City, State</label>
			<input placeholder="San Francisco, CA" id="area" type="text" name="area">

			<label for="radius">Radius</label>
			<input id="radius" type="text" name="radius">

			<label for="date">Date</label>
			<input id="date" type="date" placeholder="MM/DD/YYYY" name="date">

			<input type="submit" value="Submit">
		</form>
	</div>
	
<% include partials/footer.ejs %> 