<!DOCTYPE html />

<html>
<head>
	<title>Events</title>
</head>
<body>
	<form method='get' action="/">
		<label for="zip">Zip Code</label>
		<input id="zip" type="text" name="zip">

		<label for="radius">Radius</label>
		<input id="radius" type="text" name="radius">

		<label for="date">Date</label>
		<input id="date" type="text" name="Date">

		<input type="submit" value="Submit">
	</form>
</body>
</html>