<% include partials/header.ejs %>  

<div>
	<form action="/login">
		<label for="username">Username</label>
		<input id="" type="text" name="username">

		<label for="password">Password</label>
		<input id="password" type="password" name="password">

		<input class="btn btn-lg btn-success"type="submit" value="Login">
	</form>
</div>

<% include partials/footer.ejs %> 

