<% include partials/header.ejs %>

<% myEvents.forEach(function(events){ %>

	<nav class="navbar" role="navigation">
	  <div class="container-fluid navbar-style">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	       <p class="navbar-brand"><%= events.show_date %></p>
	       <a class="navbar-brand brand-color" href="event/<%= events.venueId%>/<%= events.eventId%>"><%= events.show_data %></a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      
	      <form methode="delete" class="navbar-form navbar-right" action="/remove">
	        <button type="submit" class="btn btn-danger">Remove</button>
	      </form>

	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
<%	}) %>
<% include partials/footer.ejs %>