<% include partials/header.ejs %>

<% myList.forEach(function(list){ %>
	<p><%= list.ticket_url %></p>
<% }) %>

<% include partials/footer.ejs %>

{ venue: 
   { country: 'United States',
     longitude: -122.278306,
     url: 'http://www.bandsintown.com/venue/1163329',
     id: 1163329,
     name: 'Yoshi\'s',
     latitude: 37.796018,
     city: 'Oakland',
     region: 'CA' },
  url: 'http://www.bandsintown.com/event/8255560?app_id=SWAG_LIST',
  on_sale_datetime: null,
  ticket_url: 'http://www.bandsintown.com/event/8255560/buy_tickets?app_id=SWAG_LIST',
  id: 8255560,
  ticket_status: 'available',
  artists: 
   [ { url: 'http://www.bandsintown.com/A.j.Croce',
       mbid: 'c21ff19f-cb3c-4a16-8884-30afda198cc9',
       name: 'A.J. Croce' } ],
  datetime: '2014-08-27T20:00:00' }