<!-- results.ejs -->
<!DOCTYPE html />

<html>
<head>
	<title>Events</title>
</head>
<body>
	<div>
		<%eventList.forEach(function(event){ %>
			<p><%= event.Venue %></p>

			<% }) %>
	</div>
</body>
</html>