<% include partials/header.ejs %> 

	<div class="row">
		<form class="form-inline" role="form" action="/find">

		  <div class="form-group">
        <label class="sr-only" for="area">City, State</label>
        <input class="form-control" placeholder="San Francisco, CA" id="area" type="text" name="area" required autofocus >
      </div>
			
      <div class="form-group">
    			<label class="sr-only" for="radius">Radius</label>
    			<input class="form-control" id="radius" type="text" name="radius" placeholder="Radius" required>
      </div>

      <div class="form-group">
  		  <label class="sr-only" for="date">Date</label>
	     <input class="form-control" id="date" type="date" placeholder="MM/DD/YYYY" name="date" required>
      </div>

			<input class="btn btn-md btn-primary" type="submit" value="Submit">
		</form>
	</div>
	
<% include partials/footer.ejs %> 