<% include partials/header.ejs %> 

<div class="row text-center">
  <div class="col-xs-4"></div>
  <div class="col-xs-4">
    <h2>Please Signup</h2>
  </div>
  <div class="col-xs-4"></div>
</div>
	
<div class="row text-center">
  <div class="col-xs-4"></div>
	<% if(typeof message !== 'undefined') { %>
		<div class="col-xs-4 alert alert-danger">
			<%= message %>
		</div>
	<% } %>
  <div class="col-xs-4"></div>
</div>


<div class="row">
	<div class="col-xs-4"></div>
	<div class="col-xs-4">
		<form class="form-signin" method='post' action="/submit">
			<!-- <label for="email">Email</label> -->
			<input class="form-control" id="email" type="email" name="email" placeholder="Email" autofocus>

			<!-- <label for="username">Username</label> -->			
      <input class="form-control" id="username" type="text" name="username" placeholder="Username">

			<!-- <label for="password">Password</label> -->
			<input class="form-control" id="password" type="password" name="password" placeholder="Password">

			<input class="btn btn-lg btn-primary btn-block margin-top margin-bottom" type="submit" value="Sign Up">
		</form>
	</div>
	<div class="col-xs-4"></div>
</div>

<div class="row text-center">
	<div class="col-xs-4"></div>
	<div class="col-xs-4">
		<p>Already have an account? <a href="/login">Login here</a></p>
	</div>
	<div class="col-xs-4"></div>
</div>

<% include partials/footer.ejs %> 