<% include partials/header.ejs %> 
<div class="row text-center">
	<div  class="col-lg-12">
		<img id="splash-logo" src="/image/swag_logo.png" />
	</div> 
<div class="row text-center margin-bottom splash-text">
	<div  class="col-lg-12">
		<h1>Find concerts & events in your area</h1>
	</div>
</div>
<div class="row text-center">
	<div class="col-lg-12">
		<a class="btn-lg btn-danger" id="splash-btn" href="/signup">Click here to sign up!</a>
	</div>
</div>
<% include partials/footer.ejs %>  