<% include partials/header.ejs %> 
<div class="row text-center">
	<div  class="col-lg-12">
		<img id="splash_logo" src="/image/swag_logo.png" />
	</div> 
<div class="row text-center margin-bottom">
	<div  class="col-lg-12">
		<h1>Get your concert swag on!</h1>
		
	</div>
</div>
<div class="row text-center">
	<div class="col-lg-12">
		<a class="btn-lg btn-danger" id="splash_btn" href="/signup">Click here to Sign Up!</a>
	</div>
</div>
<% include partials/footer.ejs %>  